@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gq6b44');
  src:  url('fonts/icomoon.eot?gq6b44#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gq6b44') format('truetype'),
    url('fonts/icomoon.woff?gq6b44') format('woff'),
    url('fonts/icomoon.svg?gq6b44#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android-22x22px:before {
  content: "\e900";
  color: #fff;
}
.icon-ios-22x22px:before {
  content: "\e901";
  color: #0071ff;
}
.icon-Personal-center-24x24px .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
}
.icon-Personal-center-24x24px .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Personal-center-24x24px .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(204, 216, 219);
}
.icon-Personal-center-24x24px .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(204, 216, 219);
}
.icon-HelpLink-24x24px:before {
  content: "\e906";
  color: #fff;
}
.icon-APP-Download-24x24px:before {
  content: "\e907";
  color: #fff;
}
.icon-edit_25x25px:before {
  content: "\e908";
  color: #1a4fbe;
}
.icon-certification_13x13px:before {
  content: "\e909";
  color: #1a4fbe;
}
.icon-application_32x32px:before {
  content: "\e90a";
  color: #666;
}
.icon-document_add_24x24px:before {
  content: "\e90b";
  color: #666;
}
.icon-document_search_20x20px:before {
  content: "\e90c";
  color: #fff;
}
.icon-head-figure_big_27x27px:before {
  content: "\e90d";
  color: #b3b3b3;
}
.icon-head-figure_small_16x16px:before {
  content: "\e90e";
  color: #b3b3b3;
}
.icon-qr-code-close:before {
  content: "\e90f";
}
.icon-QQ_B_28x28px:before {
  content: "\e910";
  color: #666;
}
.icon-QQ_28x28px:before {
  content: "\e911";
  color: #258fee;
}
.icon-wechat_B_28x28px:before {
  content: "\e912";
  color: #666;
}
.icon-wechat_28x28px:before {
  content: "\e913";
  color: #3dd02f;
}
.icon-cancel_25x25px .path1:before {
  content: "\e914";
  color: rgb(255, 0, 0);
}
.icon-cancel_25x25px .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cancel_25x25px .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-confirm_25x25px .path1:before {
  content: "\e917";
  color: rgb(76, 175, 80);
}
.icon-confirm_25x25px .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-updated_24x24px:before {
  content: "\e919";
  color: #fff;
}
.icon-head_figure_200x200px .path1:before {
  content: "\e91a";
  color: rgb(255, 255, 255);
}
.icon-head_figure_200x200px .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-head_figure_200x200px .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(191, 207, 209);
}
.icon-head_figure_200x200px .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(191, 207, 209);
}
.icon-application_checked_32x32px:before {
  content: "\e91e";
  color: #fff;
}
.icon-file_checked_32x32px:before {
  content: "\e91f";
  color: #fff;
}
.icon-my-information_checked_32x32px:before {
  content: "\e920";
  color: #fff;
}
.icon-file_32x32px:before {
  content: "\e921";
  color: #666;
}
.icon-my-information_32x32px:before {
  content: "\e922";
  color: #666;
}
